<!-- Fixed navbar -->
  <nav class="border-bottom navbar navbar-expand-md navbar-dark navbar fixed-top bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">Exercices JS</a>
      <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Acceuil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
              aria-expanded="false">Exercices
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/calculatrice">Calculatrice</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/guestnumber">Guestnumber</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/pixabay">Pixabay</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/pfcp">Pierre feuille ciseaux puit</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/todoList">Todoliste</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/bubbleShoot">bubbleShoot</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">7</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">8</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">page</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled">Liste de mes exercices en js</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Recherche..." aria-label="Search">
          <button class="btn btn-outline-secondary me-2" type="submit">Recherche</button>

        </form>
        <button type="button" class="btn btn-light text-dark me-2">Login</button>
        <button type="button" class="btn btn-secondary">Sign-up</button>
      </div>
    </div>
  </nav>