<div class="pt-5 bg-dark mh100 mt250 container row">
   <button class="h-50 w-50">reset</button>
  <div class="col-md-12">
    <div class="col-md-12 text-light d-flex justify-content-around">
      <h2 class="d-flex align-items-center">Joueur 1</h2>
      <input class="w-25 m-5" type="text" />
      
       
      
   </div>
       

    <div class="col-md-12 text-light d-flex justify-content-around">
      <h2 class="d-flex align-items-center">Joueur 2</h2>
      <input class="w-25 m-5" type="text" />
    </div>
    

  </div>
  <div class="m-0 col-md-12 d-flex row d-flex justify-content-center">
    <div class="backgroundBaton d-flex align-items-center">
      <div class="container backgroundBLK">
        <tr class="">
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
          <td id=""></td>
        </tr>

      </div>

    </div>
    <div class="col-md-12">

    </div>
    <div class="row w-50 mb-2 p-5">
      <button class="m-3">1</button>
      <button class="m-3">2</button>
      <button class="m-3">3</button>
    </div>
  </div>
</div>
<script src="/assets/js/batonnets.js"></script>