
<div class=" mh100 mt250 container">
  <div class="m-0 col-md-12 d-flex row d-flex justify-content-center">
    <div class="wrapper ">
      <header>
        <h1>QR code générateur</h1>
        <p>
          Met ton url içi et générer un QR code
        </p>
      </header>
      <div class="form">
        <input type="text" placeholder="Entre ton texte " />
        <button>Génération d'un QR code ...</button>
      </div>
      <div class="qr-code">
        <img src="" alt="qr-code" />
      </div>
    </div>

  </div>

</div>
<script src="/assets/js/qrcode.js"></script>